---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalCard_nolink from "../components/HorizontalCard_nolink.astro"
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("projects");
  posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
const posts = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout sideBarActiveItemID="projects">
  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">Portfolio of Projects</div>
  </div> -->
  <!-- {
    posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/projects/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
<!-- </BaseLayout> -->

<div>
  <div class="text-3xl w-full font-bold mb-2">Portfolio of projects</div>
</div>

<HorizontalCard
title="Duolingo Avatars"
img="/avatarsheader.png"
desc="End to end research project that evaluated the new Duolingo Avatars feature. Informed the strategy for the next iterations of the feature by identifying highest ROI improvements for design and product team."
url="/projects/duolingo-avatars"
badge="Evaluative Research"
target="_self"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="MI Safe Water"
  img="/misafewaterheader.png"
  desc="Helping Michigan well owners find trusted resurces on water quality and well maintence."
  url="/projects/mi-safe-water"
  target="_self"
  badge="Foundational Research and Ambiguous Problem"
/>

<div class="divider my-0"></div>
<HorizontalCard
title="UM School of Public Health"
img="/umich_sph.jpg"
desc="Finding the right project management software for the University of Michigan School of Public Health Careers Office."
url="/projects/contextual-inquiry-for-the-um-school-of-public-health"
target="_self"
badge="Internal UX Research"
/>
<div class="divider my-0"></div>
<HorizontalCard_nolink
title="Taste Buddy: An AI Cooking Assistant"
img="/taste_buddy_product_screen1.png"
desc="Finding the right project management software for the UM School of Public Health Careers Office."
url="#"
target="_self"
badge="Coming Soon"
/>

</BaseLayout>